* { margin: 0px }
html { overflow: hidden }
.header { 
font-size: 40pt;
}

.link { 
display: flex;
gap: 8px;
font-weight: bold;
font-size: 20pt;
}

.navbar { 
display: flex;
flex-direction: column;
gap: 16px;
margin-top: 1vh;
}

.page { 
background-color: #BC8F8F;
width: max(100%, fit-content);
height: 100%;
padding: min(8vh, 8vw);
font-family: rubik;
font-optical-sizing: auto;
font-style: normal;
position: relative;
}

.spacer { 
margin-top: 2vh;
}
